<div>
    <h1>Dados do Usuário</h1>
    <ul>
        <li><strong>Nome:</strong> {{user.name}}</li>
        <li><strong>Sobrenome:</strong> {{user.last_name}}</li>
        <li><strong>Idade:</strong> {{user.age}}</li>
        <li><strong>E-mail:</strong> {{user.email}}</li>
        <li><strong>Telefone:</strong> {{user.phone}}</li>
    </ul>
</div>